<footer th:fragment="footer"
        class="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="footer-container">

        <div>
            <strong>Product Management</strong>
            <p>
                Simple and efficient product management.
            </p>
        </div>

        <div class="footer-right">
            <span>
                © 2026 Product Service
            </span>
        </div>

    </div>

    <script th:src="@{/product/js/product.js}"></script>

</footer>


</body>
</html>
